#menu{
    display: flex;
    height: auto;
    margin-bottom: 10px;
    background-color:olivedrab;
}
#menu #container .principal{/*para los div se usa #*/
float: left;
color: #fff;
border-right: 1px solid #fff;
text-decoration: none;
text-align: center;
padding: 10px 10px;
}

#menu #container a:hover{/*para los div se usa #*/
   background-color: #ff750025;
   font-weight: bold;
}
    
    #menu #container .principal{/*para los div se usa #*/
       
        border-right: 2px;
    }
    @media only screen and (max-width:720px){
    #container,  #container .principal{
        width: 100%;
        border-right: 0px;
    }
    #container,  #container .last{
        width: 100%;
        border-right: 1px;
    }
    }